body {
	background-color: #434542;
}
label {
	font-style: italic;
	color: white;
}
.ticket-id {
	color: #b4b8b2;
}
.dot {
  height: 20px;
  width: 20px;
  background-color: #54f542;
  border-radius: 50%;
  display: inline-block;
}
.address-text {
	color: yellow;
}
.status-support {
	color: red;
	font-weight: bold;
}
.status-response {
	color: brown;
	font-weight: bold;
}
.normal-text {
	color: #b4b8b2;
}
