body main {
	background-color: #3b3939;
	color: white;
}
.login img {
	width: 50px;
	height: 50px;
	vertical-align: middle;
}
.login span {
	font-size: 30px;
	vertical-align: middle;
}
.login input {
	margin: 10px;
	vertical-align: middle;
}
.login button {
	border-radius: 15px;
	width: 75px;
	height: 40px;
	vertical-align: middle;
	background: url(go.png) no-repeat;
}	
.content h2 {
	color: orange;
}
.content p {
	color: #807a7a;
}
.content p span {
	color: white;
}